services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: yash
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
