.login_image {
  height: 650px;
  width: 100%;
  object-fit: cover;
  padding: none;
  border-radius: 20px;
  margin: none;
}

.login_box{
  border: 1px solid rgb(3, 3, 3) ;
    box-shadow: 5px 5px 5px rgb(40, 0, 0) ;    
    color: rgb(50, 38, 210);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;


}
.login_page{
  background-image: url("/images/login_background.jpg");
  height: 650px;
  width: 1550px;
}